.dialog-header {
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 1px solid #dfdfdf;
}

.dialog-footer {
    width: 100%;
    border-top: 1px solid #dfdfdf;
    text-align: center;
    margin-top: 25px;
    padding: 10px 5px;

}