.nav-spacer {
    flex: 1 1 auto;
  }

  .logo {
    display: block;
    width: 150px;
    height: 60px;
    background-image: url("../../../assets/img/MerossJS.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
