.nav-spacer {
    flex: 1 1 auto;
  }

  .logo {
    display: block;
    width: 150px;
    height: 60px;
    background-image: url("../../../assets/img/MerossJS.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.version-block {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #8d8d8d;
  font-weight: 500;
  padding: 0px 10px;
}
