<mat-toolbar>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu">
        
        <button mat-menu-item (click)="changeGridColumns(options.columns); $event.stopPropagation()">
            <mat-icon>dialpad</mat-icon>
            <span>Elementi griglia ({{ options.columns }})</span>
        </button>

        <button mat-menu-item (click)="changeLanguage(options.language); $event.stopPropagation()">
            <mat-icon>language</mat-icon>
            <span>Lingua ({{ options.language }})</span>
        </button>

        <button mat-menu-item (click)="enablePolling(options.polling); $event.stopPropagation()">
            <mat-icon>update</mat-icon>
            <span>Aggiornamento ({{ options.polling ? 'Attivo' : 'Disattivo' }})</span>
        </button>

    </mat-menu>

    <span>MerossJS</span>

    <span class="nav-spacer"></span>

    <button mat-icon-button class="nav-icon" aria-label="icon-button with logout icon" (click)="auth.logout()">
        <mat-icon aria-hidden="false" aria-label="logout icon" fontIcon="logout"></mat-icon>
    </button>
</mat-toolbar>
