<div id="home-main">
    <mat-progress-bar *ngIf="showLoader" mode="indeterminate"></mat-progress-bar>
</div>

<badgeStatus></badgeStatus>

<div *ngIf="this.datasource.length > 0">

    <mat-grid-list fxLayout [cols]="4" rowHeight="400px" [gutterSize]="'5px'">

        <div *ngFor="let item of datasource; index as i;">
            <mat-grid-tile>
                <div class="device-block">
                    <div [class]="item.model">
                        <div [class]="item.active ? 'device-on' : 'device-off'"></div>
                    </div>
                    <p class="device-info">
                        <span class="device-info-key">{{ 'Device' | translate }}</span>   
                        : {{ item.deviceName }}</p>
                    <p class="device-info">
                        <span class="device-info-key">{{ 'Firmware' | translate }}</span> 
                        : {{ item.firmwareVersion }}</p>
                    <p class="device-info">
                        <span class="device-info-key">{{ 'Hardware' | translate }}</span> 
                        : {{ item.hardwareVersion }}</p>
                    <p class="device-info">
                        <span class="device-info-key">{{ 'Model' | translate }}</span>    
                        : {{ item.model }}</p>
                    <p class="device-info">
                        <span class="device-info-key">{{ 'State' | translate }}</span>    
                        : {{ item.status.toLowerCase() }}</p>
                    <p class="device-info">
                        <span class="device-info-key">{{ 'IpAdress' | translate }}</span> 
                        : {{ item.ip }}</p>
                                   
                    <device-switch [device]="{uid: item.deviceUid, enabled: item.active}"
                        (toggled)="item.active = $event"></device-switch>
                </div>
            </mat-grid-tile>
        </div>

    </mat-grid-list>

    <device-polling (updateFromPolling)="updateData($event)"></device-polling>

</div>