<div id="home-main">
    <mat-progress-bar *ngIf="showLoader" mode="indeterminate"></mat-progress-bar>
</div>

<badgeStatus></badgeStatus>

<div *ngIf="this.datasource.length > 0">

    <mat-grid-list [cols]="setColsGrid()" rowHeight="45vh">

        <div *ngFor="let item of datasource; index as i;">
            <mat-grid-tile>
                <div class="device-block">
                    <div [class]="item.model"></div>
                    <p><b>{{ 'Device' | translate }}:</b> {{ item.deviceName }}</p>
                    <p><b>{{ 'Firmware' | translate }}:</b> {{ item.firmwareVersion }}</p>
                    <p><b>{{ 'Hardware' | translate }}:</b> {{ item.hardwareVersion }}</p>
                    <p><b>{{ 'Model' | translate }}:</b> {{ item.model }}</p>
                    <p><b>{{ 'State' | translate }}:</b> {{ item.status }}</p>
                    <p><b>{{ 'IpAdress' | translate }}:</b> {{ item.ip }}</p>
                    <div [class]="item.active ? 'device-on' : 'device-off'"></div>
                    
                    <device-switch [device]="{uid: item.deviceUid, enabled: item.active}"
                        (toggled)="item.active = $event"></device-switch>
                </div>
            </mat-grid-tile>
        </div>

    </mat-grid-list>

    <device-polling [datasource]="datasource" [devicesSearch]="devicesSearch"></device-polling>

</div>