<div *ngIf="userAuthenticated; then showApp else showLogin"></div>

<ng-template #showApp>
  <div>
    <h3 class="info-h3">HOMEPAGE</h3>
  </div>
</ng-template>

<ng-template #showLogin>
  <div id="login-main">
    <div id="login-block">
      <h3 id="login-title">Login in MerossJS</h3>
      
      <form class="example-form">
        <mat-form-field class="input-login" appearance="fill">
          <mat-label>Username</mat-label>
          <input #username matInput placeholder="username"  type="text" name="username">
        </mat-form-field>
        <mat-form-field class="password-login" appearance="fill">
          <mat-label>Password</mat-label>
          <input #password matInput placeholder="password"  type="password" name="password">
        </mat-form-field>
      </form>
      
      <button mat-raised-button color="primary" (click)="this.auth.login(username.value, password.value)">{{ 'Login' }}</button>

      <p *ngIf="this.auth.errorLogin" id="loginFailed">{{ this.auth.errorLogin }}</p>
    </div>
  </div>

</ng-template>

<router-outlet></router-outlet>