#login-main {
    background: #1c183d;
}

.btn-login {
    min-height: 25px;
}

#login-title {
    color: black;
}

#login-main {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/img/meross-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#login-block {
    display: block;
    position: fixed;
    width: 400px;
    text-align: center;
    padding: 35px 20px;
    background: rgb(46 69 119 / 40%);
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
}

#login-main form {
    padding: 25px 15px 8px;
}

.info-h3 {
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 25px;
}
.info-p {
    text-align: left;
    padding: 5px 15px;
}

#actions-block {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#start-btn, #stop-btn, #restart-btn, #logout-btn{
    margin: 0 8px;
}

.row-action {
    width: 100%;
    display: inline-block;
    text-align: center;
    background: whitesmoke;
    margin: 0 25px;
    padding: 25px 0 50px;
}

#loginFailed {
    font-weight: 500;
    text-decoration: underline;
}

.spinner-container {
    display: block;
    width: 100%;
    margin: auto;
}

.spinner-container mat-spinner {
    margin: auto;
}

.logo {
    display: block;
    width: 180px;
    height: 60px;
    background-image: url("../../../assets/img/MerossJS.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: auto;
}


  
