<mat-toolbar>

    <div class="blur-block"></div>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu" [ngStyle]="{'color':'#971f76'}">
        <mat-icon>more_vert</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu">

        <button mat-menu-item (click)="changeLanguage(commonService.appSettings.language); $event.stopPropagation()">
            <mat-icon>language</mat-icon>
            <span>{{ 'Language' | translate }} ({{ commonService.appSettings.language }})</span>
        </button>

        <button mat-menu-item (click)="enablePolling(commonService.options.polling)">
            <mat-icon>update</mat-icon>
            <span>{{ 'Update' | translate }} ({{ (commonService.options.polling ? 'Enabled' : 'Disabled') | translate }})</span>
        </button>

        <button mat-menu-item (click)="openDialog()">
            <mat-icon>filter_alt</mat-icon>
            <span>{{ 'DeviceFilter' | translate }}</span>
        </button>
    </mat-menu>

    <div class="logo"></div>

    <span class="nav-spacer"></span>

    <button mat-icon-button class="nav-icon" aria-label="icon-button with logout icon" (click)="auth.logout()" [ngStyle]="{'color':'#971f76'}">
        <mat-icon aria-hidden="false" aria-label="logout icon" fontIcon="logout"></mat-icon>
    </button>

</mat-toolbar>

<device-load></device-load>

<div *ngIf="showVersion.show" class="version-block">
    <p>{{ 'V ' + commonService.appSettings.version }}</p>
</div>
