mat-grid-tile {
    background: white;
}

.device-block {
    width: 100%;
    padding: 10px;
}

.mat-grid-list {
    display: block;
    position: relative;
    width: 1400px;
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.msl120 .device-off, .mss110 .device-off, .mss210 .device-off, .mss10 .device-off, .mss530h .device-off, 
.mss425e .device-off, .msg100 .device-off, .msg200 .device-off, .msh300 .device-off, .ms100 .device-off, .msxh0 .device-off {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: red;
}

.msl120 .device-on, .mss110 .device-on, .mss210 .device-on, .mss10 .device-on, .mss530h .device-on, 
.mss425e .device-on, .msg100 .device-on, .msg200 .device-on, .msh300 .device-on, .ms100 .device-on, .msxh0 .device-on {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: green;
}

.msl120, .mss110, .mss210, .mss10, .mss530h, .mss425e, .msg100, .msg200, .msh300, .ms100, .msxh0 {
    display: block;
    width: 120px;
    height: 120px;
    background-image: url("../../../../assets/img/meross_logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: auto;
}

.mss710 {
    display: block;
    width: 120px;
    height: 120px;
    background-image: url("../../../../assets/img/meross-710.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: auto;
}

.mss310h {
    display: block;
    width: 80px;
    height: 120px;
    background-image: url("../../../../assets/img/mss310h.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: auto;
}    

.mss710 .device-off {
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 21.5%;
    left: 55.5%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: red;
}

.mss710 .device-on {
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 21.5%;
    left: 55.5%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: green;
}

.mss310h .device-off {
    display: block;
    position: absolute;
    top: 18.5%;
    left: 55.3%;
    width: 7px;
    height: 7px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: red;
}

.mss310h .device-on {
    display: block;
    position: absolute;
    top: 17.5%;
    left: 55.3%;
    width: 7px;
    height: 7px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: green;
}

.device-info {
    height: 15px;
    font-size: 14px;
    font-weight: 400;
}

.device-info-key {
    text-transform: capitalize;
    font-weight: 500;
    color: #971f76;
}

